.form {
    position: relative;
    margin: auto;
    margin-top: 15px;
    width: 500px;
    border: 2px solid #e7e7e7;

    padding: 15px;
    border-radius: 5px;
    background: rgba(112, 112, 112, 0.3);
    /* filter: blur; */
}

.label {
    width: 75%;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
}

.input {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background: transparent;
    color: #fff;
}

.input:focus {
    box-shadow: 0px 0px 4px 2px rgb(8, 108, 155);
}

.button {
    width: 50%;
    /* background-color: white; */
    background: transparent;
    color: #fff;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background: rgba(112, 112, 112, 0.3);
}

.button:hover {
    background-color: #e7e7e7;
    color: rgb(129, 129, 129);
}
