.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--second-color-text);
}

.activeLink {
    color: var(--color-accent);
}

.wrapper {
    height: 65px;
    display: flex;
}

.list {
    display: flex;
}

.item {
    list-style: none;
    margin-left: 20px;
}
