.link {
    width: 50%;
    color: var(--main-color-text);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background: var(--main-bg-color);
}

.link:hover {
    background-color: var(--border-color);
    color: var(--color-hover);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper .link {
    width: 20%;
    margin: 5px 5px;
    background: rgba(112, 112, 112, 0.7);
}

.activeLink {
    color: var(--color-accent);
}
